<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Home_Media_Application_Dev</title>
</head>
<body id="container">
        <div class="cover">
            <img class="cover__image" src="/assets/photos/cover/<%= coverImageName %>" alt="Dynamic Image">
        </div>

        <form action="/" method="GET">
            <input type="text" name="searchTerm" placeholder="Search...">
            <button type="submit">Search</button>
        </form>

        <div class="gallery">
            <h1>Image Gallery</h1>
            <% for(const year in mediaByYear) { %>
                <div class="gallery__row">
                    <h2><%= year %></h2>
                    <div class="image-row">
                        <% mediaByYear[year].forEach(media => { %>
                            <img class="<%= media.favorite ? 'gallery__image--yellow' : 'gallery__image--red' %>" src="<%= media.url %>" alt="Media">
                        <% }); %>
                    </div>
                </div>
            <% } %>
        </div>


</body>
</html>



