#container{
    border: 1px solid black;
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 50px;
}

.cover{
    border: 1px solid red;
}

.cover__image{
    height: 500px;
    border-radius: 15px;
}

.gallery{
    width:100%;
}
.gallery__row{
    border: .5px solid red;
    width: 100%;
    height:fit-content;

}

.gallery__images{
    display: flex;

}

/* Base class with shared properties */
.gallery__image {
    border: 1px solid black; /* Set a default border color if needed */
    border-radius: 5px;
    width: 220px;
    height: 175px;
    margin-left: 5px;
}

.gallery__image--yellow {
    border: 2px solid yellow !important;
}

/* Modifier for red border */
.gallery__image--red {
    border-color: red !important;
}

.gallery__image:hover{
    border: 2px solid green;
}
